.row{
    display: flex;
}
.row div{
    flex: 1;
    padding: 20px 0;
}
.header{
    text-align: center;
    font-weight: 700;
}
.genF{
    background-color: red;
    color: white;
}
.genM{
    background-color: blue;
    color: white;
}
.num{
    text-align: right;
}
.tooltip{
    display: none;
    color: black;
    padding: 5px;
    background: lightgreen;
    border: 2px solid black;
    position: absolute;
    z-index: 1000;
}
.row:hover .tooltip{
    display: block;
}
